{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
	<div class="row">
		<div class="col s8">
			<h1 class="title-section">Estat de la matricula</h1>
			<ul class="collection disable-pd disable-mg">
				<li class="collection-item">
					<div class="row disable-pd disable-mg">
						<div class="col s8">
							Document a verificar
						</div>
						<div class="col s4 trafficlight-input">
							<div class="trafficlight red" data-position="bottom" data-tooltip="Denegat"></div>
							<div class="trafficlight orange" data-position="bottom" data-tooltip="Pendent de verificar"></div>
							<div class="trafficlight green" data-position="bottom" data-tooltip="Acceptat"></div>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row disable-pd disable-mg">
						<div class="col s8">
							Document a verificar
						</div>
						<div class="col s4 trafficlight-input">
							<div class="trafficlight red" data-position="bottom" data-tooltip="Denegat"></div>
							<div class="trafficlight orange" data-position="bottom" data-tooltip="Pendent de verificar"></div>
							<div class="trafficlight green" data-position="bottom" data-tooltip="Acceptat"></div>
						</div>
					</div>
				</li>
				<li class="collection-item">
					<div class="row disable-pd disable-mg">
						<div class="col s8">
							Document a verificar
						</div>
						<div class="col s4 trafficlight-input">
							<div class="trafficlight red" data-position="bottom" data-tooltip="Denegat"></div>
							<div class="trafficlight orange" data-position="bottom" data-tooltip="Pendent de verificar"></div>
							<div class="trafficlight green" data-position="bottom" data-tooltip="Acceptat"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col s4">
			<h1 class="title-section">Navegació</h1>
			<ul class="collection">
				<li class="collection-item collection-middle">
					<img src="{% static 'images/icons/data.png' %}" alt="" class="nav-icon">
					<a href="#" class="black-text">Dades personals</a>
				</li>
				<li class="collection-item collection-middle">
					<img src="{% static 'images/icons/calculator.png' %}" alt="" class="nav-icon">
					<a href="#" class="black-text">Recalcula matricula</a>
				</li>
				<li class="collection-item collection-middle">
					<img src="{% static 'images/icons/document.png' %}" alt="" class="nav-icon">
					<a href="#" class="black-text">Documents</a>
				</li>
			</ul>
		</div>
</section>
{% endblock %}