{% extends "base.html" %}
{% block content %}
<section>
	<h1 class="title-section">Dades personals</h1>
	<ul class="collection">
		{% for param in params %}
		<li class="collection-item collection-sides">
			<div>
				{{ param.0 }}
			</div>
			<div>
				{{ param.1 }}
			</div>
		</li>
		{% endfor %}
	</ul>
</section>

<section>
	<h1 class="title-section">Solicitar canvis</h1>
	<form method="post">
		<div class="input-field col s12">
			<textarea id="textarea2" class="textarea-form" data-length="120"></textarea>
		</div>

		{% csrf_token %}

		<button class="waves-effect waves-light btn fl-right">Desa els canvis</button>
	</form>
</section>
{% endblock %}