{% extends "../base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Restablir contrasenya" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}L'enllaç per a restablir la contrasenya és invàlid, probablement perquè ja ha sigut utilitzat amb anterioritat. Torna a sol·licitar una <a href="{{ passwd_reset_url }}">nova contrasenya</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'password1' %}
                        <p><b>Introdueix la nova contrasenya</b></p>  
                        {{field}}
                    {% else %}
                        <p><b>Introdueix de nou la contrasenya</b></p>
                        {{field}}
                    {% endif %}
                {% endfor %} 
                <input type="submit" name="action" value="{% trans 'Canviar contrasenya' %}"/>
            </form>
        {% else %}
            <p>{% trans "La teva contrasenya s'ha canviat amb èxit" %}</p>
        {% endif %}
    {% endif %}
{% endblock %}