.title-section {
	font-size: 2em;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.text-right {
	text-align: right;
}

.fl-right {
	float: right;
}

.fl-left {
	float: left;
}

.input-fl-right {
	right: 0;
	position: absolute;
}

.collection-bonification {
	background: #E7E7E7;
	font-weight: 500;
}